<h3>All Paints</h3>
<p>Filter through all available paint swatches to build a palette</p>

<hr />

<form [formGroup]="form">
  <div class="row">

    <div class="col-md-3">
      <h6>Narrow by Type</h6>
      <div class="btn-group">
        <!-- [disabled]="allPaintTypesSelected === true" -->
        <button class='btn btn-secondary small' (click)="selectThese('types')" [disabled]="allPaintTypesSelected === true">select all types</button>
        <button class='btn btn-secondary small' (click)="clearThis('types')" [disabled]="zeroPaintTypesSelected === true">clear types</button>
      </div>
      <label formArrayName="paintTypes" *ngFor="let type of form.controls.paintTypes.controls; let i = index" class="filterCheckbox">
        <mat-checkbox [formControlName]="i" labelPosition='before' id="paint-types-checkbox-{{i}}" (change)="onChange($event)">{{paintTypes[i].name}}</mat-checkbox>
      </label>

        <br /><br />
      <h6>Narrow by Colour</h6>
      <div class="btn-group">
        <button class='btn btn-secondary small' (click)="selectThese('colour')" [disabled]="allPaintColourFamiliesSelected === true">select all colours</button>
        <button class='btn btn-secondary small' (click)="clearThis('colour')" [disabled]="zeroPaintColourFamiliesSelected === true">clear colours</button>
      </div>
      <label formArrayName="paintColourFamilies" *ngFor="let colour of form.controls.paintColourFamilies.controls; let i = index" class="filterCheckbox">
        <mat-checkbox [formControlName]="i" labelPosition='before' id="paint-colour-families-checkbox-{{i}}" (change)="onChange($event)">{{paintColourFamilies[i].name}}</mat-checkbox>
      </label>
    </div>

    <div class="col-md-7">
      <h6>Narrow by Tags</h6>
      <div class="btn-group">
        <button class='btn btn-secondary small' (click)="selectThese('tags')" [disabled]="allPaintTagsSelected === true">select all tags</button>
        <button class='btn btn-secondary small' (click)="clearThis('tags')" [disabled]="zeroPaintTagsSelected === true">clear tags</button>
      </div>
      <label formArrayName="paintTags" *ngFor="let tag of form.controls.paintTags.controls; let i = index" class="filterCheckbox">
        <mat-checkbox [formControlName]="i" labelPosition='before' id="paint-tags-checkbox-{{i}}" (change)="onChange($event)">{{paintTags[i].name}}</mat-checkbox>
      </label>
    </div>

    <div class="col-md-2 buttons-col">
      <button class='btn btn-secondary btn-arrow-left backdrop-invisible' (click)="selectAll()" [disabled]="allPaintsSelected === true">all</button>
      <button class='btn btn-secondary btn-arrow-left backdrop-invisible' (click)="clearAll()" [disabled]="zeroPaintsSelected === true">clear</button>
      <button class='btn btn-secondary btn-arrow-right backdrop-invisible' (click)="submit()" [disabled]="checkIfSubmittable()">submit</button>
    </div>
  </div>

</form>

<hr />
<h4>Filtered Paints</h4>

<ul class="paint-swatches-list">
<li *ngFor="let paint of paintToolsService.filteredPaintsResult" [ngClass]="[paint.className, 'paint-swatch']"><span class="colour" placement="top" ngbPopover="{{paint.types | join: ', '}} ({{paint.brand | titlecase}} brand)"></span><span class="name">{{paint.name}}</span></li>
</ul>
