@import '../../../../scss/_global-component-import';
ul.paint-swatches-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
  li.paint-swatch {
    list-style: none;
    flex-grow: 1;
    padding: 1.5rem;
    height: 10rem;
    width: 9rem;
    text-align: center;

    // *** colour classes *** //
    &.abaddon-black {
      span.colour {
        background-color: $abaddon-black;
      }
    }
    &.administratum-grey {
      span.colour {
        background-color: $administratum-grey;
      }
    }
    &.agrax-earthshade {
      span.colour {
        background-color: $agrax-earthshade;
      }
    }
    &.agrellan-earth {
      span.colour {
        background-color: $agrellan-earth;
      }
    }
    &.ahriman-blue {
      span.colour {
        background-color: $ahriman-blue;
      }
    }
    &.alaitoc-blue {
      span.colour {
        background-color: $alaitoc-blue;
      }
    }
    &.armageddon-dunes {
      span.colour {
        background-color: $armageddon-dunes;
      }
    }
    &.astorath-red {
      span.colour {
        background-color: $astorath-red;
      }
    }
    &.astrogranite-debris {
      span.colour {
        background-color: $astrogranite-debris;
      }
    }
    &.athonian-camoshade {
      span.colour {
        background-color: $athonian-camoshade;
      }
    }
    &.auric-armour-gold {
      span.colour {
        background-color: $auric-armour-gold;
      }
    }
    &.averland-sunset {
      span.colour {
        background-color: $averland-sunset;
      }
    }
    &.baharroth-blue {
      span.colour {
        background-color: $baharroth-blue;
      }
    }
    &.balor-brown {
      span.colour {
        background-color: $balor-brown;
      }
    }
    &.balthasar-gold {
      span.colour {
        background-color: $balthasar-gold;
      }
    }
    &.baneblade-brown {
      span.colour {
        background-color: $baneblade-brown;
      }
    }
    &.bestigor-flesh {
      span.colour {
        background-color: $bestigor-flesh;
      }
    }
    &.biel-tan-green {
      span.colour {
        background-color: $biel-tan-green;
      }
    }
    &.blackfire-earth {
      span.colour {
        background-color: $blackfire-earth;
      }
    }
    &.blood-for-the-blood-god {
      span.colour {
        background-color: $blood-for-the-blood-god;
      }
    }
    &.bloodletter {
      span.colour {
        background-color: $bloodletter;
      }
    }
    &.blue-horror {
      span.colour {
        background-color: $blue-horror;
      }
    }
    &.brass-scorpion {
      span.colour {
        background-color: $brass-scorpion;
      }
    }
    &.bugmans-glow {
      span.colour {
        background-color: $bugmans-glow;
      }
    }
    &.caledor-sky {
      span.colour {
        background-color: $caledor-sky;
      }
    }
    &.calgar-blue {
      span.colour {
        background-color: $calgar-blue;
      }
    }
    &.caliban-green {
      span.colour {
        background-color: $caliban-green;
      }
    }
    &.carroburg-crimson {
      span.colour {
        background-color: $carroburg-crimson;
      }
    }
    &.casandora-yellow {
      span.colour {
        background-color: $casandora-yellow;
      }
    }
    &.castellan-green {
      span.colour {
        background-color: $castellan-green;
      }
    }
    &.celestra-grey {
      span.colour {
        background-color: $celestra-grey;
      }
    }
    &.ceramic-white {
      span.colour {
        background-color: $ceramic-white;
      }
    }
    &.chaos-black {
      span.colour {
        background-color: $chaos-black;
      }
    }
    &.chronus-blue {
      span.colour {
        background-color: $chronus-blue;
      }
    }
    &.coelia-greenshade {
      span.colour {
        background-color: $coelia-greenshade;
      }
    }
    &.daemonette-hide {
      span.colour {
        background-color: $daemonette-hide;
      }
    }
    &.dark-reaper {
      span.colour {
        background-color: $dark-reaper;
      }
    }
    &.dawnstone {
      span.colour {
        background-color: $dawnstone;
      }
    }
    &.death-guard-green {
      span.colour {
        background-color: $death-guard-green;
      }
    }
    &.deathclaw-brown {
      span.colour {
        background-color: $deathclaw-brown;
      }
    }
    &.death-world-forest {
      span.colour {
        background-color: $death-world-forest;
      }
    }
    &.dechala-lilac {
      span.colour {
        background-color: $dechala-lilac;
      }
    }
    &.deepkin-flesh {
      span.colour {
        background-color: $deepkin-flesh;
      }
    }
    &.doombull-brown {
      span.colour {
        background-color: $doombull-brown;
      }
    }
    &.dorn-yellow {
      span.colour {
        background-color: $dorn-yellow;
      }
    }
    &.drakenhof-nightshade {
      span.colour {
        background-color: $drakenhof-nightshade;
      }
    }
    &.druchii-violet {
      span.colour {
        background-color: $druchii-violet;
      }
    }
    &.dryad-bark {
      span.colour {
        background-color: $dryad-bark;
      }
    }
    &.eldar-flesh {
      span.colour {
        background-color: $eldar-flesh;
      }
    }
    &.elysian-green {
      span.colour {
        background-color: $elysian-green;
      }
    }
    &.emperors-children {
      span.colour {
        background-color: $emperors-children;
      }
    }
    &.eshin-grey {
      span.colour {
        background-color: $eshin-grey;
      }
    }
    &.etherium-blue {
      span.colour {
        background-color: $etherium-blue;
      }
    }
    &.evil-sunz-scarlet {
      span.colour {
        background-color: $evil-sunz-scarlet;
      }
    }
    &.fenrisian-grey {
      span.colour {
        background-color: $fenrisian-grey;
      }
    }
    &.fire-dragon-bright {
      span.colour {
        background-color: $fire-dragon-bright;
      }
    }
    &.flash-gitz-yellow {
      span.colour {
        background-color: $flash-gitz-yellow;
      }
    }
    &.flayed-one-flesh {
      span.colour {
        background-color: $flayed-one-flesh;
      }
    }
    &.fuegan-orange {
      span.colour {
        background-color: $fuegan-orange;
      }
    }
    &.fulgrim-pink {
      span.colour {
        background-color: $fulgrim-pink;
      }
    }
    &.fulgurite-copper {
      span.colour {
        background-color: $fulgurite-copper;
      }
    }
    &.gauss-blaster-green {
      span.colour {
        background-color: $gauss-blaster-green;
      }
    }
    &.gehennas-gold {
      span.colour {
        background-color: $gehennas-gold;
      }
    }
    &.genestealer-purple {
      span.colour {
        background-color: $genestealer-purple;
      }
    }
    &.golgfag-brown {
      span.colour {
        background-color: $golgfag-brown;
      }
    }
    &.gorthor-brown {
      span.colour {
        background-color: $gorthor-brown;
      }
    }
    &.guilliman-blue {
      span.colour {
        background-color: $guilliman-blue;
      }
    }
    &.hashut-copper {
      span.colour {
        background-color: $hashut-copper;
      }
    }
    &.hellion-green {
      span.colour {
        background-color: $hellion-green;
      }
    }
    &.hexos-palesun {
      span.colour {
        background-color: $hexos-palesun;
      }
    }
    &.hexwraith-flame {
      span.colour {
        background-color: $hexwraith-flame;
      }
    }
    &.hoethe-blue {
      span.colour {
        background-color: $hoethe-blue;
      }
    }
    &.imrik-blue {
      span.colour {
        background-color: $imrik-blue;
      }
    }
    &.incubi-darkness {
      span.colour {
        background-color: $incubi-darkness;
      }
    }
    &.ionrach-skin {
      span.colour {
        background-color: $ionrach-skin;
      }
    }
    &.ironbreaker {
      span.colour {
        background-color: $ironbreaker;
      }
    }
    &.jokaero-orange {
      span.colour {
        background-color: $jokaero-orange;
      }
    }
    &.kabalite-green {
      span.colour {
        background-color: $kabalite-green;
      }
    }
    &.kantor-blue {
      span.colour {
        background-color: $kantor-blue;
      }
    }
    &.karak-stone {
      span.colour {
        background-color: $karak-stone;
      }
    }
    &.khorne-red {
      span.colour {
        background-color: $khorne-red;
      }
    }
    &.kindleflame {
      span.colour {
        background-color: $kindleflame;
      }
    }
    &.kislev-flesh {
      span.colour {
        background-color: $kislev-flesh;
      }
    }
    &.krieg-khaki {
      span.colour {
        background-color: $krieg-khaki ;
      }
    }
    &.lamenters-yellow {
      span.colour {
        background-color: $lamenters-yellow;
      }
    }
    &.leadbelcher {
      span.colour {
        background-color: $leadbelcher;
      }
    }
    &.liberator-gold {
      span.colour {
        background-color: $liberator-gold;
      }
    }
    &.longbeard-grey {
      span.colour {
        background-color: $longbeard-grey;
      }
    }
    &.loren-forest {
      span.colour {
        background-color: $loren-forest;
      }
    }
    &.lothern-blue {
      span.colour {
        background-color: $lothern-blue;
      }
    }
    &.lucius-lilac {
      span.colour {
        background-color: $lucius-lilac;
      }
    }
    &.lugganath-orange {
      span.colour {
        background-color: $lugganath-orange;
      }
    }
    &.lustrian-undergrowth {
      span.colour {
        background-color: $lustrian-undergrowth;
      }
    }
    &.macragge-blue {
      span.colour {
        background-color: $macragge-blue;
      }
    }
    &.martian-ironcrust {
      span.colour {
        background-color: $martian-ironcrust;
      }
    }
    &.mechanicus-standard-grey {
      span.colour {
        background-color: $mechanicus-standard-grey;
      }
    }
    &.mephiston-red {
      span.colour {
        background-color: $mephiston-red;
      }
    }
    &.moot-green {
      span.colour {
        background-color: $moot-green;
      }
    }
    &.mournfang-brown {
      span.colour {
        background-color: $mournfang-brown;
      }
    }
    &.naggaroth-night {
      span.colour {
        background-color: $naggaroth-night;
      }
    }
    &.necron-compound {
      span.colour {
        background-color: $necron-compound;
      }
    }
    &.niblet-green {
      span.colour {
        background-color: $niblet-green;
      }
    }
    &.nighthaunt-gloom {
      span.colour {
        background-color: $nighthaunt-gloom;
      }
    }
    &.nihilakh-oxide {
      span.colour {
        background-color: $nihilakh-oxide;
      }
    }
    &.nuln-oil {
      span.colour {
        background-color: $nuln-oil;
      }
    }
    &.nurgles-rot {
      span.colour {
        background-color: $nurgles-rot;
      }
    }
    &.nurgling-green {
      span.colour {
        background-color: $nurgling-green;
      }
    }
    &.ogryn-camo {
      span.colour {
        background-color: $ogryn-camo;
      }
    }
    &.pallid-wych-flesh {
      span.colour {
        background-color: $pallid-wych-flesh;
      }
    }
    &.pink-horror {
      span.colour {
        background-color: $pink-horror;
      }
    }
    &.rakarth-flesh {
      span.colour {
        background-color: $rakarth-flesh;
      }
    }
    &.ratskin-flesh {
      span.colour {
        background-color: $ratskin-flesh;
      }
    }
    &.reikland-fleshshade {
      span.colour {
        background-color: $reikland-fleshshade;
      }
    }
    &.retributor-armour {
      span.colour {
        background-color: $retributor-armour;
      }
    }
    &.rhinox-hide {
      span.colour {
        background-color: $rhinox-hide;
      }
    }
    &.runefang-steel {
      span.colour {
        background-color: $runefang-steel;
      }
    }
    &.runelord-brass {
      span.colour {
        background-color: $runelord-brass;
      }
    }
    &.russ-grey {
      span.colour {
        background-color: $russ-grey;
      }
    }
    &.ryza-rust {
      span.colour {
        background-color: $ryza-rust;
      }
    }
    &.screamer-pink {
      span.colour {
        background-color: $screamer-pink;
      }
    }
    &.screaming-bell {
      span.colour {
        background-color: $screaming-bell;
      }
    }
    &.screaming-skull {
      span.colour {
        background-color: $screaming-skull;
      }
    }
    &.seraphim-sepia {
      span.colour {
        background-color: $seraphim-sepia;
      }
    }
    &.sigmarite {
      span.colour {
        background-color: $sigmarite;
      }
    }
    &.skarsnik-green {
      span.colour {
        background-color: $skarsnik-green;
      }
    }
    &.skavenblight-dinge {
      span.colour {
        background-color: $skavenblight-dinge;
      }
    }
    &.skink-blue {
      span.colour {
        background-color: $skink-blue;
      }
    }
    &.skrag-brown {
      span.colour {
        background-color: $skrag-brown;
      }
    }
    &.skullcrusher-brass {
      span.colour {
        background-color: $skullcrusher-brass;
      }
    }
    &.slaanesh-grey {
      span.colour {
        background-color: $slaanesh-grey;
      }
    }
    &.sotek-green {
      span.colour {
        background-color: $sotek-green;
      }
    }
    &.soulstone-blue {
      span.colour {
        background-color: $soulstone-blue;
      }
    }
    &.spiritstone-red {
      span.colour {
        background-color: $spiritstone-red;
      }
    }
    &.squig-orange {
      span.colour {
        background-color: $squig-orange;
      }
    }
    &.steel-legion-drab {
      span.colour {
        background-color: $steel-legion-drab;
      }
    }
    &.stegadon-scale-green {
      span.colour {
        background-color: $stegadon-scale-green;
      }
    }
    &.stirland-mud {
      span.colour {
        background-color: $stirland-mud;
      }
    }
    &.stormfang {
      span.colour {
        background-color: $stormfang;
      }
    }
    &.stormhost-silver {
      span.colour {
        background-color: $stormhost-silver;
      }
    }
    &.stormvermin-fur {
      span.colour {
        background-color: $stormvermin-fur;
      }
    }
    &.straken-green {
      span.colour {
        background-color: $straken-green;
      }
    }
    &.sybarite-green {
      span.colour {
        background-color: $sybarite-green;
      }
    }
    &.sycorax-bronze {
      span.colour {
        background-color: $sycorax-bronze;
      }
    }
    &.sylvaneth-bark {
      span.colour {
        background-color: $sylvaneth-bark;
      }
    }
    &.tallarn-sand {
      span.colour {
        background-color: $tallarn-sand;
      }
    }
    &.tau-light-ochre {
      span.colour {
        background-color: $tau-light-ochre;
      }
    }
    &.teclis-blue {
      span.colour {
        background-color: $teclis-blue;
      }
    }
    &.temple-guard-blue {
      span.colour {
        background-color: $temple-guard-blue;
      }
    }
    &.terminatus-stone {
      span.colour {
        background-color: $terminatus-stone;
      }
    }
    &.the-fang {
      span.colour {
        background-color: $the-fang;
      }
    }
    &.thousand-sons-blue {
      span.colour {
        background-color: $thousand-sons-blue;
      }
    }
    &.thunderhawk-blue {
      span.colour {
        background-color: $thunderhawk-blue;
      }
    }
    &.troll-slayer-orange {
      span.colour {
        background-color: $troll-slayer-orange;
      }
    }
    &.tuskgor-fur {
      span.colour {
        background-color: $tuskgor-fur;
      }
    }
    &.typhus-corrosion {
      span.colour {
        background-color: $typhus-corrosion;
      }
    }
    &.tyrant-skull {
      span.colour {
        background-color: $tyrant-skull;
      }
    }
    &.ulthuan-grey {
      span.colour {
        background-color: $ulthuan-grey;
      }
    }
    &.underhive-ash {
      span.colour {
        background-color: $underhive-ash;
      }
    }
    &.ungor-flesh {
      span.colour {
        background-color: $ungor-flesh;
      }
    }
    &.ushabti-bone {
      span.colour {
        background-color: $ushabti-bone;
      }
    }
    &.verminlord-hide {
      span.colour {
        background-color: $verminlord-hide;
      }
    }
    &.waaagh-flesh {
      span.colour {
        background-color: $waaagh-flesh;
      }
    }
    &.warboss-green {
      span.colour {
        background-color: $warboss-green;
      }
    }
    &.warpfiend-grey {
      span.colour {
        background-color: $warpfiend-grey;
      }
    }
    &.warplock-bronze {
      span.colour {
        background-color: $warplock-bronze;
      }
    }
    &.warpstone-glow {
      span.colour {
        background-color: $warpstone-glow;
      }
    }
    &.waystone-green {
      span.colour {
        background-color: $waystone-green;
      }
    }
    &.waywatcher-green {
      span.colour {
        background-color: $waywatcher-green;
      }
    }
    &.wazdakka-red {
      span.colour {
        background-color: $wazdakka-red;
      }
    }
    &.wild-rider-red {
      span.colour {
        background-color: $wild-rider-red;
      }
    }
    &.wrack-white {
      span.colour {
        background-color: $wrack-white;
      }
    }
    &.xereus-purple {
      span.colour {
        background-color: $xereus-purple;
      }
    }
    &.xv-88 {
      span.colour {
        background-color: $xv-88;
      }
    }
    &.yriel-yellow {
      span.colour {
        background-color: $yriel-yellow;
      }
    }
    &.zamesi-desert {
      span.colour {
        background-color: $zamesi-desert;
      }
    }
    &.zandri-dust {
      span.colour {
        background-color: $zandri-dust;
      }
    }

    // *** paint types *** //
    &.shade {
      span.colour {

      }
    }
    &.metallic {
      span.colour {

      }
    }

    span {
      display: block;
    }
    span.colour {
      margin: auto;
      border-radius: 100%;
      height: 4rem;
      width: 4rem;
      border: 1px solid grey;
      transition: border-color 200ms, box-shadow 300ms, height 200ms, width 200ms;
      &:hover {
        cursor: pointer;
        border-color: white;
        -webkit-box-shadow: 0px 0px 20px 1px rgba(white,0.5);
        -moz-box-shadow: 0px 0px 20px 1px rgba(white,0.5);
        box-shadow: 0px 0px 20px 1px rgba(white,0.5);
        height: 5rem;
        width: 5rem;
      }
    }
    span.name {
      margin-top: 0.5rem;
      font-size: 0.8rem;
      height: 50%;
      border-bottom: 1px solid dimgrey;
    }
  }
}


.btn-group {
  display: block;
  margin-bottom: 0.5rem;
}

#filterPaintsForm {
  display: none;
  margin-top: 3rem;
  // transition: opacity 200ms;
}

#filterPaintsToggle {
  // margin-bottom: 3rem;
}

small.allPaintsWarn {
  margin-top: 1rem;
  opacity: 0.85;
  text-align: center;
}
