<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-body">
          <h5 class="card-title">All Paints</h5>
          <p class="card-text">Filter through all paint colours by type, colour family, and tag</p>
          <button type="button" href="#" routerLink="id/paints" routerLinkActive="active" class="btn btn-primary btn-arrow-right">go</button>
        </div>
      </div>

    </div>
    <div class="col-md-4">
      <div class="card">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-body">
          <h5 class="card-title">Other Tool</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <button type="button" href="#" routerLink="id/paints" routerLinkActive="active" class="btn btn-primary btn-arrow-right">go</button>
        </div>
      </div>

    </div>
    <div class="col-md-4">
      <div class="card">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-body">
          <h5 class="card-title">Other Tool</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <button type="button" href="#" routerLink="id/paints" routerLinkActive="active" class="btn btn-primary btn-arrow-right">go</button>
        </div>
      </div>

    </div>
  </div>
</div>
