
<div class="row">
  <div class="col-md-4">
    <h1>Welcome</h1>
    <h5>Tabletop miniatures painting services & how-to guides to paint on your own</h5>
    <p>Lorem ipsum lorem ipsum</p>
  </div>
  <div class="col-md-8">
    <div class="homepage-cards-wrapper">
      <a [ngClass]="['homepage-card', homepageGridOrder[0][0]]" href="#" routerLink="{{homepageGridOrder[0][0]}}">
        <span>{{homepageGridOrder[0][0]}}</span>
        <span>{{homepageGridOrder[0][1]}}</span>
      </a>

      <a [ngClass]="['homepage-card', homepageGridOrder[1][0]]" href="#" routerLink="{{homepageGridOrder[1][0]}}">
        <span>{{homepageGridOrder[1][0]}}</span>
        <span>{{homepageGridOrder[1][1]}}</span>
      </a>

      <a [ngClass]="['homepage-card', homepageGridOrder[2][0]]" href="#" routerLink="{{homepageGridOrder[2][0]}}">
        <span>{{homepageGridOrder[2][0]}}</span>
        <span>{{homepageGridOrder[2][1]}}</span>
      </a>

      <a [ngClass]="['homepage-card', homepageGridOrder[3][0]]" href="#" routerLink="{{homepageGridOrder[3][0]}}">
        <span>{{homepageGridOrder[3][0]}}</span>
        <span>{{homepageGridOrder[3][1]}}</span>
      </a>

      <a [ngClass]="['homepage-card', homepageGridOrder[4][0]]" href="#" routerLink="{{homepageGridOrder[4][0]}}">
        <span>{{homepageGridOrder[4][0]}}</span>
        <span>{{homepageGridOrder[4][1]}}</span>
      </a>
    </div>
  </div>
</div>
