
<div class="row">
  <div class="col-md-4">
    <h1>homepage text</h1>
  </div>
  <div class="col-md-8">
    <div class="homepage-cards-wrapper">
      <a [ngClass]="['homepage-card', homepageGridOrder[0]]" href="#" routerLink="{{homepageGridOrder[0]}}">
        {{homepageGridOrder[0]}}
      </a>

      <a [ngClass]="['homepage-card', homepageGridOrder[1]]" href="#" routerLink="{{homepageGridOrder[1]}}">
        {{homepageGridOrder[1]}}
      </a>

      <a [ngClass]="['homepage-card', homepageGridOrder[2]]" href="#" routerLink="{{homepageGridOrder[2]}}">
        {{homepageGridOrder[2]}}
      </a>

      <a [ngClass]="['homepage-card', homepageGridOrder[3]]" href="#" routerLink="{{homepageGridOrder[3]}}">
        {{homepageGridOrder[3]}}
      </a>

      <a [ngClass]="['homepage-card', homepageGridOrder[4]]" href="#" routerLink="{{homepageGridOrder[4]}}">
        {{homepageGridOrder[4]}}
      </a>
    </div>
  </div>
</div>
