// *** MIXINS AND VARIABLES *** //


// *** STYLES BY PAGE HIERARCHY *** //
// --- main body --- //
body {
  background: $neutral-dark;
}

main {
  min-height: calc(100vh - #{$footer-height});
}

.flex-cols {
  display: flex;
  flex-direction: column;
}

.flex-spaced {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.side-menu-content {
  padding: 2rem 3rem;
}

.buttons-col {
  display: flex;
  flex-direction: column;
}
